# e-Gurukulam for IAS Environment Configuration Example
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/YOUR_APPOINTMENTS_SCRIPT_ID/exec
VITE_APPLY_SCRIPT_URL=https://script.google.com/macros/s/YOUR_APPLY_SCRIPT_ID/exec
