# Dependencies
node_modules
.pnpm-store

# Production Builds & Output
dist
build
.next
.out
*.zip

# Local Environment Variables
.env
.env.*
!.env.example

# Security Keys & Certificates
*.pem
*.key
*.p12
*.pfx

# System Files
.DS_Store
Thumbs.db
*.log
