# Dependencies
node_modules
.pnpm-store

# Production Builds & Output
dist
build
.next
.out

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# System Files
.DS_Store
Thumbs.db
*.log
